.animador-lista {
    overflow: hidden;
}

.lista {
    --separacion-bordecito: 0.25rem;
    --ancho: 60%;
    position: relative;
    width: var(--ancho);
    left: calc(50% - var(--ancho) / 2);
    display: flex;
    flex-direction: column;
    max-width: 580px;

    transition: ease-in-out 1s;
    transition-property: left,max-height,bottom;
}
.lista *,
.lista *::after,
.lista *::before {
    transition: linear .15s;
    transition-property: background-color,border-color,color;
}

.lista.oculto {
    left: calc(150% - var(--ancho) / 2);
}

.ano-container {
    flex-direction: row-reverse;
    display: flex;
}

.rotulo-ano, .rotulo-mes{
    width: 0rem;
    padding: 5px;
    font-size: 1.8rem;
    text-align: right;
    font-family: fantasy;
    color: var(--col-gris);
}
.rotulo-mes{
    width: 3.5rem;
    margin-right: calc(9 * var(--separacion-bordecito));
    direction: rtl;
}
.rotulo-sticky {
    align-self: self-start;
    position: sticky;
    top: 0px;
}

.meses-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.mes-container{
    flex-direction: row;
    display: flex;
    flex-grow: 1;
}

.facturas-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.factura-container {
    position: relative;
    margin: 2px;
    padding: 12px 20px;
    background-color: var(--col-gris);
    color: var(--col-destaca);
    width:auto;
}

.bordecito {
    content: '';
    height: 100%;
    position: absolute;
    width: 0;
    left: calc(-3 * var(--separacion-bordecito) );
    transform: skewY(-45deg);
    top: 0;
    border-left: solid var( --separacion-bordecito) var( --col-destaca);
    border-right: solid var( --separacion-bordecito) transparent;
    background-clip: content-box;
}
.mes-container:hover .bordecito, .mes-container.mes-hover .bordecito {
    border-left-color: var( --col-brillo);
}
.lista>span:nth-of-type(odd)+.ano-container .mes-container:nth-child(odd) .bordecito {
    left: calc(-6 * var(--separacion-bordecito) );
    top: calc(0.5 * var(--separacion-bordecito));
}
.lista>span:nth-of-type(even)+.ano-container .mes-container:nth-child(even) .bordecito {
    left: calc(-6 * var(--separacion-bordecito) );
    top: calc(0.5 * var(--separacion-bordecito));
}

.factura-container::before{
    pointer-events: none;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
}
.factura-container:hover::before {
    background-color: rgba(255,255,255,0.1);
}

h3 {
    text-align: center;
    padding: 10px;
    color: var(--col-brillo);
}

.moneda {
    color: var(--col-fondo);
    padding: 0px 10px;
    font-size: 1rem;
}
.cuit {
    word-wrap: none;
    overflow: hidden;
    color: var(--col-fondo);
}

.fecha {
    float: right;
}

.importe {
    color: var(--col-brillo);
}
.total-anual {
    font-size: 1rem;
    color: var(--col-brillo);
}
.total-mensual {
    font-size: 1rem;
}
/* .mes-container:hover .total-mensual {
    color: var(--col-brillo);
} */
.mes-container.mes-hover .total-mensual {
    color: var(--col-brillo);
}

.cuitMarcado .factura-container:not(.marcado) * {
    color: var(--col-fondo);
    border-left-color: var(--col-gris);
} 

.receptor {
    white-space: nowrap;
    overflow: hidden;
    margin-block-end: 8px;
}
.marcado .receptor {
    color: var(--col-brillo);
}
.marcado .cuit{
    color: var(--col-destaca);
}

.impacto-mensual {
    /* pointer-events: all; */
    width: 8rem;
    display: flex;
    flex-direction: column;
}
.impacto-mensual>div {
    flex-basis: 5px;
    padding: 0.5px 0px;
    background-clip: content-box;
    /* background-color: transparent; */
    /* background-color: var(--col-destaca); */
    background-color: var(--col-gris); 
    display: flex;
    flex-direction: row;
}
.impacto-mensual>div>div{
    background-color: var(--col-destaca);
    /* height: 100%; */
}
.ano-container:not(:hover):not(.ano-hover) .impacto-mensual * {
    background-color: transparent;
}
.impacto-mensual>div.mes-hover>div {
    background-color: var(--col-brillo);
}

.contenedor-datos-receptor {
    position: fixed;
    left:0px;
    bottom: 0px;
    background-color: var(--col-gris);
    width: 100%;
    z-index: 1;
    padding: 10px 0px;
    max-height: 150px;

    transition: ease-in-out 0.4s;
    transition-property: left,max-height,bottom;
}
.contenedor-datos-receptor.oculto {
    max-height: 0px;
    bottom: -30px;
}
.contenedor-datos-receptor .borde {
    border-top: double var(--col-gris) 4px;
    width: 100%;
    height: 1px;
    position: absolute;
    top: -8px;
    background-color: transparent;
    border-bottom: double var(--col-destaca) 4px;
    box-shadow: 0px -4px var(--col-gris);
}
.datos-receptor {
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;

    font-size: 1.6rem;
}
.datos-receptor>div {
    flex-basis: 100%;
}
.contenedor-datos-receptor .impacto-mensual {
    pointer-events: all;
    height: 8rem;
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
}
.contenedor-datos-receptor .impacto-mensual>div {
    flex-grow: 1;
    max-width: 1rem;
    padding: 0.05rem;
    flex-direction: column-reverse;
    background-color: var(--col-fondo);
}
.contenedor-datos-receptor .impacto-mensual>div>div {
    background-color: var(--col-destaca);
}
.contenedor-datos-receptor .impacto-mensual>.mes-hover>div {
    background-color: var(--col-brillo);
}

.datos-receptor .oculto {
    display:none;
    pointer-events: none;
}
.datos-receptor *:not(.oculto)~.oculto {
    display:flex;
}