<div class="animador-lista bloque-animado">
    <div class="container-lista" (click)="onReceptorClick(null)">
        <div class="lista" [ngClass]="{'cuitMarcado':cuitMarcado.visible,'oculto':facturasAgrupadas.length===0}">

            <ng-container *ngFor="let esteAno of facturasAgrupadas || []; let anoIndex = index;">
                <ng-container *ngIf="esteAno && mesesFiltradosPorArray(esteAno).length>0">
                    <span></span>
                    <div class="ano-container" [ngClass]="{'ano-hover':esteAno===anoHover}">
                        <div class="rotulo-ano rotulo-sticky">{{anoActual-anoIndex}}
                            <div class="total-anual">{{totalImporteAnual(esteAno) | currency}}</div>
                            <div class="impacto-mensual">
                                <ng-container *ngFor="let esteMes of esteAno || []; let mesIndex = index">
                                    <div *ngIf="esteMes.length>0" [ngClass]="{'mes-hover':esteMes===mesHover}"
                                        (mouseenter)="onPointerEnterMes(esteMes)"
                                        (mouseleave)="onPointerLeaveMes(esteMes)"
                                        (click)="onClickMes(anoIndex,mesIndex)">
                                        <div [ngStyle]="{'flex-basis':100*impactoMensual(esteAno,mesIndex)+'%'}"></div>
                                    </div>
                                </ng-container>
                            </div>
                        </div>
                        <div class="meses-container">
                            <ng-container *ngFor="let esteMes of (esteAno) || []; let mesIndex = index">
                                <div *ngIf="esteMes.length>0" id="{{anoIndex}},{{mesIndex}}"
                                    (mouseenter)="onPointerEnterMes(esteMes)" (mouseleave)="onPointerLeaveMes(esteMes)"
                                    class="mes-container" [ngClass]="{'mes-hover':esteMes===mesHover}">
                                    <div class="rotulo-mes rotulo-sticky">{{mesDeFactura(esteMes[0])}}
                                        <div class="total-mensual">{{totalImporteMensual(esteMes) | currency}}</div>
                                    </div>
                                    <div class="facturas-container">
                                        <div class="factura-container pointer"
                                            (click)="onReceptorClick(factura.receptorCUIT,$event)"
                                            [ngClass]="{'marcado':cuitMarcado.visible&&factura.receptorCUIT==cuitMarcado.cuit}"
                                            *ngFor="let factura of esteMes || []; let facturaIndex = index">

                                            <div class="bordecito">
                                            </div>
                                            <h6 class="fecha">
                                                {{factura.fecha.toLocaleDateString(undefined,{day:'numeric',month:'short',year:'numeric'})}}
                                            </h6>
                                            <h5 [attr.cuit]="factura.receptorCUIT" class="receptor">
                                                {{factura.receptor}}<span class="cuit">
                                                    ({{factura.receptorCUIT}})</span>
                                            </h5>
                                            <h4 class="importe">
                                                {{factura.totalFacturadoPesos | currency}}<span
                                                    *ngIf="factura.moneda!=='PES'" class="moneda">{{factura.moneda}}
                                                    {{factura.totalFacturado | currency}}</span>
                                            </h4>

                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <span *ngIf="mesesFiltradosPorArray(esteAno).length%2==0"></span>
                </ng-container>
            </ng-container>
        </div>
    </div>

    <div class="contenedor-datos-receptor marcado bloque-animado" [ngClass]="{'oculto':!cuitMarcado.visible}">
        <div class="borde"></div>
        <div class="datos-receptor">
            <div>
                <h5 class="receptor">
                    {{cuitMarcado.nombre}}<br /><span class="cuit">
                        ({{cuitMarcado.cuit}})</span>
                </h5>
                <h4 class="importe">
                    {{cuitMarcado.importeTotal|currency}}
                </h4>
            </div>
            <div class="importes-receptor">
                <h4 class="mensual-maximo">{{cuitMarcado.importeMensualMaximo|currency}}</h4>
                <h4 *ngIf="mesHover && cuitMarcado.getTotalDeUnMes(mesHover); let totalMes" class="mes-hover">{{totalMes|currency}}</h4>
            </div>
            <div class="impacto-mensual">
                <ng-container *ngFor="let cadaAno of cuitMarcado.importes; let anoIndex = index">
                    <ng-container *ngIf="anoIndex<=cuitMarcado.ultimoAno">
                        <ng-container *ngFor="let cadaMes of cadaAno; let mesIndex = index">
                            <div *ngIf="anoIndex<cuitMarcado.ultimoAno || mesIndex<=cuitMarcado.ultimoMes"
                                [ngClass]="{'mes-hover':facturasAgrupadas[anoIndex][mesIndex]===mesHover,'oculto':cadaMes===0}"
                                (mouseenter)="onPointerEnterMes(facturasAgrupadas[anoIndex][mesIndex],facturasAgrupadas[anoIndex]);onClickMes(anoIndex,mesIndex)"
                                (mouseleave)="onPointerLeaveMes(facturasAgrupadas[anoIndex][mesIndex],facturasAgrupadas[anoIndex])"
                                (click)="onClickMes(anoIndex,mesIndex)">
                                <div [ngStyle]="{'flex-basis':100*(cadaMes/cuitMarcado.importeMensualMaximo)+'%'}">
                                </div>
                            </div>
                        </ng-container>
                    </ng-container>
                </ng-container>
            </div>
        </div>
    </div>

</div>