.lista {
    --separacion-bordecito: 4px;
    --ancho: 48%;
    position: absolute;
    width: var(--ancho);
    left: calc(50% - var(--ancho) / 2);
    height: 100%;
}
.lista *,
.lista *::after,
.lista *::before {
    transition: linear .15s;
    transition-property: background-color,color;
}

.factura-container {
    position: relative;
    margin: 2px;
    padding: 12px 20px;
    background-color: var(--col-gris);
    color: var(--col-destaca);
    width:auto;
}

.bordecito {
    content: '';
    height: 100%;
    position: absolute;
    width: 0;
    left: calc(-3 * var(--separacion-bordecito) );
    transform: skewY(-45deg);
    top: 0;
    border-left: solid var( --separacion-bordecito) var( --col-destaca);
    border-right: solid var( --separacion-bordecito) transparent;
    background-clip: content-box;
}

 .mes-container:nth-child(odd) .bordecito {
    /* border-left-color: var( --col-brillo); */
    left: calc(-6 * var(--separacion-bordecito) );
    top: calc(0.5 * var(--separacion-bordecito));
}

.rotulo-mes,
.rotulo-ano {
    direction: rtl;
    overflow: visible;
    position: absolute;
    left: calc( -24 * var(--separacion-bordecito) );
    font-size: 33px;
    text-align: right;
    font-family: fantasy;
    color: var(--col-gris);
}
.rotulo-ano {
    position: absolute;
    float: right;
    left: 0px;
    right: -80px;
}

.factura-container::before{
    pointer-events: none;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0.1);
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255,255,255,0);
}
.factura-container:hover::before {
    background-color: rgba(255,255,255,0.1);
}

h3 {
    text-align: center;
    padding: 10px;
    color: var(--col-brillo);
}

.moneda {
    color: var(--col-fondo);
    padding: 0px 10px;
    font-size: 18px;
}
.cuit {
    color: var(--col-fondo);
}

.fecha {
    float: right;
}

.importe {
    color: var(--col-brillo);
}
.cuitMarcado .factura-container:not(.marcado) * {
    color: var(--col-fondo);
    border-left-color: var(--col-gris);
} 

.marcado .receptor {
    color: var(--col-brillo);
}
.marcado .cuit{
    color: var(--col-destaca);
}